*, *::before, *::after {
    box-sizing: border-box;
}


:root {
	--base: #555;
	--base-100: #f1f1f1;
	--base-400: #555;
	--base-800: #000;
	--yellow: #ffda4b;
	--yellow-100: #fffbe6;
	--yellow-400: #ffda4b;
	--yellow-800: #8b6f00;
	--blue: #0a61ae;
	--blue-100: #e2f8ff;
	--blue-400: #61dafb;
	--blue-800: #0a61ae;
    --green: #357960;
	--green-100: #aec9bf;
	--green-400: #357960;
	--green-800: #1f4839;
	--brown: #6a380c;
	--brown-100: #d2c3b6;
	--brown-400: #6a380c;
	--brown-800: #3f2107;
}

header{
    
    padding-top:10px;
    padding-bottom: 10px;
    display:flex;
    
    justify-content: space-between;
    max-width: 1440px;
    margin:auto;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    
    
    .logo-holder{
        display:flex;
        padding:10px;
        align-items: center;
        font-weight: 600;
        color: var(--base-800);
        .logo{
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 32px;
            background-color: var(--base-800);
            color: var(--base-100);
            height: 64px;
            width: 64px;
            margin-right: 20px;
            border-radius: 50%;
        }
        .logo-text{
            flex:1;
        }
    }

    nav{
        display:flex;
        align-items: center;
        ul{
            display: flex;
            list-style-type: none;
            gap: 5px;
            li{
                display: inline-block;
                a{
                    display: inline-block;
                    padding:10px 20px;
                    color:var(--base);
                    &:hover{
                        background-color: var(--base-100);
                        border-radius: 10px;
                        text-decoration: none;
                    }
                }
            }
        }
        .mobile-toggle{
            display: none;
            color:var(--base-800);
            padding:10px;
            @media(max-width:768px){
                display: inline-block;
                position: absolute;
                top:20px;
                right:20px;
            }

        }
    }

    @media (max-width:1024px){
        flex-direction: column;
        align-items: center;
    }

    @media(max-width: 768px){
        flex-direction: column;
        align-items: center;
        nav{
            margin-top: 10px;
            width: 100%;
            ul{
                display: none;
                flex-direction: column;
                text-align: center;
                width:100%;
                a{
                    width:100%;
                }
                &.active{
                    display: flex;
                }
            }
        }
    }
}




body {
    width: 100%;
    margin: auto;
    max-width: 1440px;
    
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
      font-size: 20px;
      
      background-color: #fffafa;
    
      
      ul.a{
        list-style-type: circle;
      }
}

.button{
    display: inline-block;
    padding:10px 30px;
    background-color: var(--green);
    color: var(--base-100);
    border-radius: 10px;
    transition: ease 0.3s all;
    
    &.black{
        background-color: black;
        color: white;
        
        &:hover{
            background-color: var(--base);
            color: var(--base-100);
        }
    }
}


    

.notebook-paper {
    width:1440px;
    min-height: 1109px;
    height:auto;
    @media(max-width: 1024px){
        width: 840px;
    }
    @media(max-width: 768px){
        width: 650px;
    }
    background: linear-gradient(to bottom,white 29px,#00b0d7 1px);
    margin: auto;
    background-size: 100% 30px;
    position:relative;
    /*padding-top:150px;
    padding-left:160px;
    padding-right:20px;*/
   
    overflow:hidden;
    border-radius:5px;
    -webkit-box-shadow:3px 3px 3px rgba(0,0,0,.2),0px 0px 6px rgba(0,0,0,.2);
    -moz-box-shadow:3px 3px 3px rgba(0,0,0,.2),0px 0px 6px rgba(0,0,0,.2);
    -ms-box-shadow:3px 3px 3px rgba(0,0,0,.2),0px 0px 6px rgba(0,0,0,.2);
    -o-box-shadow:3px 3px 3px rgba(0,0,0,.2),0px 0px 6px rgba(0,0,0,.2);
    box-shadow:3px 3px 3px rgba(0,0,0,.2),0px 0px 6px rgba(0,0,0,.2);
    &:before {
      content:'';
      display:block;
      position:absolute;
      z-index:1;
      top:0;
      
      left:140px;
      
      height:100%;
      width:1px;
      background:#db4034;
    }
    
    h1 {
      height:150px;
      width:100%;
      background:white;
      position:absolute;
      top:0;
      left:0;
      padding-left:150px;
      padding-top: 115px;
     
    }
    .content {
      margin-top:190px;
      font-size:20px;
      line-height:12px;
      margin-left: 150px;
      ul.a{
        margin-top:15px;
        margin-bottom: 10px;
      }
      
    }
    @media(max-width: 768px){
        &:before{
            left: 70px;
        }
        
        
        h1 {
            height:150px;
            width:100%;
            background:white;
            position:absolute;
            top:0;
            left:0;
            padding-left:75px;
            padding-top: 115px;
        }
        .content {
            margin-top:190px;
            font-size:20px;
            line-height:12px;
            margin-left: 75px;
            ul.a{
            margin-top:15px;
            margin-bottom: 10px;
            }
            
        }
  }

}